<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login User</title>
  </head>
  <body>
    <p th:text="${msg}" id="msg"></p>
    <form action="/login" method="post">
      <input type="email" name="username" required />
      <input type="password" name="password" required />
      <button type="submit">Login</button>
    </form>

    <script>
      setTimeout(hideMsg, 3000);
      function hideMsg() {
        document.getElementById("msg").style.display = "none";
      }
    </script>
  </body>
</html>
