<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register New User</title>
  </head>
  <body>
    <p th:text="${msg}"></p>

    <form th:action="@{/registerUser}" method="post">
      <input
        type="text"
        name="firstName"
        placeholder="Enter First Name"
        required
      />
      <input
        type="text"
        name="lastName"
        placeholder="Enter Last Name"
        required
      />
      <input type="email" name="email" placeholder="Enter Email" required />
      <input
        type="password"
        name="password"
        placeholder="Enter Password"
        required
      />
      <input
        type="password"
        name="cpassword"
        placeholder="Confirm Password"
        required
      />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
